.skill {
    padding: 150px 0 50px 0;
    position: relative;
    background-color: #121212;
  }
  .skill-bx {
    background: #1e1e1e;
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -60px;
  }
  .skill h2 {
      font-size: 45px;
      font-weight: 700;
  }
  .skill p {
      color: #B8B8B8;
      font-size: 18px;
      letter-spacing: 0.8px;
      line-height: 1.5em;
      margin: 14px 0 75px 0;
  }
  .skill-slider {
    width: 100%;
  }
  .skill-slider .item img {
    width: 50%;
    height: 200px;
    margin: 0 auto 15px auto;
  }